/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Fundo */
body {
    background: url('https://images.unsplash.com/photo-1497250681960-ef046c08a56e') no-repeat center/cover;
    color: white;
}

/* MENU */
header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.menu {
    display: flex;
    gap: 30px;
    padding: 15px 40px;

    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.menu a {
    text-decoration: none;
    color: #e8f5ec;
    transition: 0.3s;
}

.menu a:hover {
    color: #a5d6a7;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-box {
    text-align: center;
    padding: 40px;

    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 25px;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    margin: 10px 0;
}

/* BOTÃO */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;

    background: linear-gradient(135deg, #2e7d32, #66bb6a);
    border-radius: 30px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.btn:hover {
    background: linear-gradient(135deg, #1b5e20, #43a047);
}

/* SEÇÕES */
.secao {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;

    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border-radius: 25px;
}

h2 {
    margin-bottom: 15px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 200px;
    padding: 20px;
    border-radius: 20px;

    background: rgba(255,255,255,0.15);
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;

    background: rgba(0,0,0,0.3);
}